// -----------------------------------------------------------------------------------
// Practica Boostrap

// Ajuste para el body
@media (min-width:992px){
    .alto-100{
        height: 100vh;
    }
}

// Para ajustar las imagenes
.d-flex img{
    width: 50px;
}

// Para cambiar la letra
$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;

//Cambio de colores
$success: #733fc8;
$primary:#49556b;
$dark:#18202d;
$secondary:#edf2f8;

// BG comillas
.fondo-card{
    background-image: url("../fotos/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position:85% top;
}

// Tamaño maximo de los contenedores
$container-max-widths:(
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 960px,
    xxl: 960px
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
//Este de ley tiene que ir abajo